# Postgresql Connection String do Render
# Pega em: Render Dashboard > PostgreSQL > Info > Internal Database URL
DATABASE_URL=postgresql://username:password@host:5432/database_name

# Senha do Painel Admin
# Mude isso para algo seguro!
ADMIN_PASSWORD=01010924Clo#

# Porta (Render define automaticamente)
PORT=3000
